<div class="container mt-5 dashboard-container">
  <h2 class="mb-4">Termék Hozzáadása</h2>

  <h3>Válasszon Leltárhelyet!</h3>
  <div class="form-group">
      <label for="storagePlace">Leltárhely</label>
      <select [(ngModel)]="selectedStoragePlace" class="form-control">
          <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
      </select>
  </div>

  <div *ngIf="selectedStoragePlace" class="crud-section mt-4">
      <div class="form-group">
          <label for="itemName">Termék</label>
          <select [(ngModel)]="newItem.itemNameId" class="form-control">
              <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
          </select>
      </div>
      <div class="form-group">
          <label for="quantity">Mennyiség</label>
          <input [(ngModel)]="newItem.quantity" type="number" placeholder="Quantity" class="form-control">
      </div>
      <div class="form-group">
          <label for="description">Leírás</label>
          <input [(ngModel)]="newItem.description" placeholder="Description" class="form-control">
      </div>
      <button (click)="createItem()" class="btn btn-primary">Hozzáadás</button>
  </div>

  <div class="mt-4">
      <ng-container *ngFor="let item of items">
          <ng-container *ngIf="item.storagePlaceId == selectedStoragePlace">
              <ng-container *ngIf="item.quantity != 0">
                  <ng-container *ngIf="item.description == ''; else displayDescription">
                      <p>Item Name: {{getItemNameById(item.itemNameId)}} Quantity: {{item.quantity}}
                        <button type="button" class="btn btn-danger ml-2" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="loadDeleteItemModal(item.itemNameId,item.storagePlaceId,item.description,item.quantity)">Törlés</button>
                        <button type="button" class="btn btn-primary ml-2" data-bs-toggle="modal" data-bs-target="#moveModal" (click)="loadUpdatedItemModal(item.itemNameId,item.storagePlaceId,item.description,item.quantity)">Áthelyezés</button>
                      </p>

                  </ng-container>
                  <ng-template #displayDescription>
                      <p>Item Name: {{getItemNameById(item.itemNameId)}} Quantity: {{item.quantity}} Description: {{item.description}}
                        <button type="button" class="btn btn-danger ml-2" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="loadDeleteItemModal(item.itemNameId,item.storagePlaceId,item.description,item.quantity)">Törlés</button>
                        <button type="button" class="btn btn-primary ml-2" data-bs-toggle="modal" data-bs-target="#moveModal" (click)="loadUpdatedItemModal(item.itemNameId,item.storagePlaceId,item.description,item.quantity)">Áthelyezés</button></p>
                  </ng-template>
              </ng-container>
          </ng-container>
      </ng-container>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hány darabot szeretne törölni?</h5>
      </div>
      <div class="modal-body">
        <p>Item Name: {{getItemNameById(deleteItemModal.deleteItemNameId)}} 
          Quantity:{{deleteItemModal.deleteQuantity}}
        </p>
        <input [(ngModel)]="deleteQuantity" type="number" placeholder="Darabszám">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteItem(deleteItemModal.deleteItemNameId,deleteItemModal.deleteStoragePlaceId,deleteItemModal.deleteDescription,deleteQuantity)">Törlés</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Válasszon leltár helyet és mennyiséget!</h5>
      </div>
      <div class="modal-body">
        <p>Item Name: {{getItemNameById(updatedItemModal.itemNameId)}} 
          Quantity:{{updatedItemModal.quantity}}
        </p>
        <input [(ngModel)]="moveQuantity" type="number" placeholder="Darabszám">
        <select [(ngModel)]="newStoragePlaceId">
          <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="updateItem(updatedItemModal.storagePlaceId,updatedItemModal.itemNameId,newStoragePlaceId,updatedItemModal.description,moveQuantity)">Áthelyezés</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="dashboard-container">
    <h2>Termék Hozzáadása</h2>
  
    <h3>Válasszon Leltárhelyet!</h3>
    <select [(ngModel)]="selectedStoragePlace">
      <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
    </select>
  
    
    <div *ngIf="selectedStoragePlace" class="crud-section">
      <select [(ngModel)]="newItem.itemNameId">
        <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
      </select>
      <input [(ngModel)]="newItem.quantity" type="number" placeholder="Quantity">
      <input [(ngModel)]="newItem.description" placeholder="Description">
      <button (click)="createItem()">Hozzáadás</button>
    </div>
  
  <ng-container *ngFor="let item of items">
      <ng-container *ngIf="item.storagePlaceId == selectedStoragePlace">
        <ng-container *ngIf="item.quantity != 0"> 
  
          <ng-container *ngIf="item.description == ''; else displayDescription">
            <p>Item Name: {{getItemNameById(item.itemNameId)}} 
              Quantity:{{item.quantity}}</p>
          </ng-container>
  
          <ng-template #displayDescription>
            <p>Item Name: {{getItemNameById(item.itemNameId)}} 
              Quantity:{{item.quantity}}
              Description: {{item.description}}</p>
          </ng-template>
        </ng-container> 
    </ng-container>
  </ng-container>
  </div>
  
   -->