<div class="container mt-5 dashboard-container">

  <h3>Válasszon Leltárhelyet!</h3>
  <select [(ngModel)]="selectedStoragePlace" class="form-control w-auto custom-select">
    <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
  </select>

  <div *ngIf="selectedStoragePlace" class="crud-section mt-2">
    <div class="form-group">
      <label for="newItem.itemNameId"><strong>Termék</strong></label>
      <select [(ngModel)]="newItem.itemNameId" class="form-control w-auto custom-select">
        <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="newItem.quantity"><strong>Mennyiség</strong></label>
      <input [(ngModel)]="newItem.quantity" type="number" class="form-control w-auto custom-input">
    </div>
    <button (click)="createItem()" class="btn btn-primary">Hozzáadás</button>
  </div>


  <div class="mt-4">
    <div class="row">
      <ng-container *ngIf="isAdmin()">
        <button type="button" class="btn btn-danger mt-2" (click)="deleteItem(selectedItemIds, selectedStoragePlace)">Törlés</button>
        <button type="button" class="btn btn-primary mt-2" (click)="updateItem(selectedItemIds, selectedStoragePlace, newStoragePlaceId)">Áthelyezés</button>
        <select [(ngModel)]="newStoragePlaceId" class="form-control w-auto custom-select mt-2">
          <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
        </select>
      </ng-container>
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item.storagePlaceId == selectedStoragePlace">
          <div class="col-12 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Id: {{item.id}}
                  Termék: {{getItemName(item.itemNameId)}}</h5>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    [value]="item.id"
                    (change) ="toggleItemSelection($event,item.id)">
                  <label class="form-check-label">Kiválasztás</label>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- 

"




<div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Válasszon új leltárhelyet!</h5>
      </div>
      <div class="modal-body">
        <p><strong>Termék neve:</strong> {{getItemNameById(updatedItemModal.itemIdList[0])}}</p>
        <p><strong>Jelenlegi leltárhely:</strong> {{getStoragePlaceById(updatedItemModal.storagePlaceId)}}</p>
        <div class="form-group">
          <label for="newStoragePlaceId"><strong>Új leltárhely:</strong></label>
          <select [(ngModel)]="newStoragePlaceId" id="newStoragePlaceId" class="form-control">
            <option *ngFor="let place of storagePlaces" [value]="place.id" [hidden]="place.id == updatedItemModal.storagePlaceId">{{ place.storage }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateItem(updatedItemModal.itemIdList, updatedItemModal.storagePlaceId, newStoragePlaceId)">Áthelyezés</button>
      </div>
    </div>
  </div>
</div> -->