<div class="container mt-5">
    <h3 class="text-center mb-4">Válasszon Leltárhelyet!</h3>
    <div class="form-group">
      <select [(ngModel)]="selectedStoragePlace" class="form-control custom-select">
        <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
      </select>
    </div>
    
    <div class="table-responsive">
      <table class="table table-bordered table-hover" *ngIf="selectedStoragePlace">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Termék</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of items">
            <ng-container *ngIf="item.storagePlaceId == selectedStoragePlace">
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ getItemName(item.itemNameId) }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      <ng-template #noItems>
        <p class="text-center mt-4">Nincs termék a kiválasztott leltárhelyen!</p>
      </ng-template>
    </div>
</div>