/* General container styling */

.container {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

/* Headings */
h2, h3, h4 {
  color: #333;
  font-weight: bold;
}

/* Form controls */

.btn-secondary {
  background-color: #000000;
  border-color: #000000;
}

.custom-select {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  height: 40px; /* Adjust height if necessary */
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
}

.custom-input {
  width: 100%;
}

.form-check-input {
  border: 1px solid #333;
}
/* Spacing and layout */
.crud-section {
  background-color: #f8f9fa;
  border: 5px solid #a2c2e2;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6, .col-lg-4 {
  padding: 15px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border: 5px solid #a2c2e2;
  border-radius: 8px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.table thead th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}