<div class="container mt-5">
  <div *ngIf="alertMessage" class="alert alert-dismissible fade show alert-message" 
    [ngClass]="{'alert-danger': isError, 'alert-info': !isError}" role="alert" (click)="alertMessage = null">
    {{ alertMessage }}
  </div>

  <div class="row">
    <div class="form-group col-sm-4 mb-1">
      <label for="filterInput" class="ml-1"><strong>Keresés:</strong></label>
      <input 
        type="text" 
        id="filterInput" 
        class="form-control form-control-sm filter-input" 
        placeholder="Keresés email alapján..." 
        [(ngModel)]="filterText" 
        (input)="applyFilter()"
        >   
    </div>

  <div class="row">
    <div class="col-lg">
        <table class="table table-bordered table-hover-responsive">
          <thead class="thead-light">
            <tr>
              <th>Email</th>
              <th>
                Admin
              </th>
              <th>
                <button
                  type="button"
                  class="btn btn-link p-0"
                  data-bs-toggle="modal"
                  data-bs-target="#registerModal"
                  aria-label="Add User">
                  <i class="bi bi-person-fill-add fs-3" title="Felhasználó felvétel"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let user of filteredUsers">
              <tr *ngIf="!user.isDisabled && user.userEmail != 'admin'">
                <td>{{ user.userEmail }}</td>
                <td>
                  <i 
                    class="bi fs-5" 
                    [ngClass]="user.isAdmin ? 'bi bi-check-lg text-success' : 'bi bi-x-lg text-danger'"
                    aria-label="Admin Status"
                  ></i>
                </td>
                <td>
                  <ng-container *ngIf="user.userEmail != currentUser; else currentUserDisplay">
                    <span
                      (click)="promoteUser(user.userEmail)" class="mouse-hover"
                      *ngIf="!user.isAdmin">
                      <i class="bi bi-person-fill-up fs-3 text-success" title="Admin jog adás"></i>
                    </span>
                    <span
                      (click)="demoteUser(user.userEmail)" class="mouse-hover"
                      *ngIf="user.isAdmin">
                      <i class="bi bi-person-fill-down fs-3 text-warning" title="Admin jog elvétel"></i>
                    </span>
                    <span
                      (click)="disableUser(user.userEmail)" class="mouse-hover ml-3">
                      <i class="bi bi-person-fill-x fs-3 text-danger" title="Felhasználó letiltás"></i>
                  </span>
                  </ng-container>
                  <ng-template #currentUserDisplay>
                    <span class="text-muted">(Jelenlegi felhasználó)</span>
                  </ng-template>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
        <h4 class="text-center mt-3">Letiltott felhasználók</h4>
        <table class="table table-bordered table-hover-responsive">
          <thead class="thead-light">
            <tr>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let user of users">
              <tr *ngIf="user.isDisabled">
                <td>{{ user.userEmail }}</td>
                <td>
                  <span (click)="enableUser(user.userEmail)" class="mouse-hover">
                  <i class="bi bi-person-fill-check fs-3 text-success" title="Felhasználó aktiválás"></i>
                </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
  </div>

  <!-- User Registarion Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalTitle">Új felhasználó felvétele</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="registerUser()">
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="text"
              id="email"
              [(ngModel)]="newUserEmail"
              name="email"
              class="form-control"
              required/>
          </div>
          <div class="form-group form-check">
            <input
              type="checkbox"
              id="isAdmin"
              [(ngModel)]="newUserAdmin"
              name="isAdmin"
              class="form-check-input"/>
            <label for="isAdmin" class="form-check-label">Admin Felhasználó?</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
          <button type="submit" class="btn btn-grey" [disabled]="!newUserEmail || newUserEmail.trim() === ''" data-bs-dismiss="modal">Email Küldése</button>
        </div>
      </form>  
    </div>
  </div>
</div>