<div class="dashboard-container">
  <h2>Dashboard</h2>

  <div class="crud-admin" *ngIf="isAdmin()">
    <!-- <div>
      <label for="showAdminCrud">Show Admin Crud</label>
      <input type="checkbox" id="showAdminCrud" [(ngModel)]="showAdminCrud" name="showAdminCrud">
    </div>
    <ng-container *ngIf="showAdminCrud"></ng-container> -->
      <h3>Storage Places</h3>
      <input [(ngModel)]="newStoragePlace" placeholder="New Storage Place">
      <button (click)="createStoragePlace()">Add</button>

      <div *ngFor="let storagePlace of storagePlaces" class="row my-1">
        <div *ngFor="let storagePlaceModel of storagePlaceModels" class="col-1">
          <input [(ngModel)]="storagePlace[storagePlaceModel.key]" [type]="storagePlaceModel.type" class="form-control">
        </div>
        <div class="col">
          <button (click)="deleteStoragePlace(storagePlace.id)">Delete</button>
          <!--<button (click)="updateStoragePlace(storagePlace.id, storagePlace.storage)">Update</button> -->
        </div>
      </div>
    
      <h3>Item Names</h3>
      <input [(ngModel)]="newItemName" placeholder="New Item Name">
      <button (click)="createItemName()">Add</button>

      <div *ngFor="let itemName of itemNames" class="row my-1">
        <div *ngFor="let itemNameModel of itemNameModels" class="col-1">
          <input [(ngModel)]="itemName[itemNameModel.key]" [type]="itemNameModel.type" class="form-control">
        </div>
        <div class="col">
          <button (click)="deleteItemName(itemName.id)">Delete</button>
          <button (click)="updateItemName(itemName.id, itemName.item)">Update</button>
        </div>
      </div>
  </div>

  <div class="crud-section">
    <h3>Create Item</h3>
    <select [(ngModel)]="newItem.itemNameId">
      <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
    </select>
    <select [(ngModel)]="newItem.storagePlaceId">
      <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
    </select>
    <input [(ngModel)]="newItem.quantity" placeholder="Quantity">
    <input [(ngModel)]="newItem.description" placeholder="Description">
    <button (click)="createItem()">Add Item</button>
  </div>

  <div class="item-render">
    <h3>Items</h3>
      <ng-container *ngFor="let item of items">
        {{item|json}}
      </ng-container>
  </div>

  <h3>Select Storage</h3>
  <select [(ngModel)]="selectedStoragePlace">
    <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
  </select>

  <div class="item-render">
    <ng-container *ngFor="let item of items">
      <ng-container *ngIf="item.storage === selectedStoragePlace">
        <div class="row my-2">
          <div class="col-5">
            <select [(ngModel)]="item.itemNameId">
              <option *ngFor="let itemName of itemNames" [value]="itemName.id" >{{ itemName.item }}</option>
            </select>
            <select [(ngModel)]="item.storagePlaceId">
              <option *ngFor="let place of storagePlaces" [value]="place.id" >{{ place.storage }}</option>
            </select>
            <input [(ngModel)]="item.description" placeholder="Description">
          </div>
          <div class="col-5">
            <button (click)="deleteItem(item.id)">Delete</button>
            <button (click)="updateItem(item.id, item.storagePlaceId, item.itemNameId, item.description )">Update</button>
          </div>
          {{item.itemNameId}}
      </div>
      </ng-container>
    </ng-container>
  </div>

  

  <!-- <div class="item-render">
    <h3>Items</h3>
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item.storage === selectedStoragePlace">
          <div class="row my-1">
            <div *ngFor="let itemModel of itemModels" class="col-1">
              <input [(ngModel)]="item[itemModel.key]" [type]="itemModel.type" class="form-control">
            </div>
          </div>
          <div class="col">
            <button (click)="deleteItem(item.id)">Delete</button>
            <button (click)="updateItem(item.id, item.place.id, item.item.id, item.description )">Update</button>
          </div>
        </ng-container>
      </ng-container>
  </div> -->
</div>


