/* General Styles */
.container {
  font-family: 'Arial', sans-serif;
}

/* Typography */
h2, h3, h4 {
  color: #333;
  font-weight: bold;
}

/* Buttons */
.btn-grey {
  background-color: #b4aead;
  color: black;
  border: none;
}

/* Inputs and Selects */
.custom-select {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
}

.custom-input {
  width: 100%;
}

.filter-input {
  max-width: 400px;
}

.form-contol-sm {
  max-width: 100px;
}

.form-check-input {
  border: 1px solid #333;
}

.chechbox {
  border: 1px solid #333;
}

/* Layout and Sections */
.admin-tasks {
  max-width: 600px;
  margin: 0 auto;
}

.crud-section {
  background-color: #f8f9fa;
  border: 5px solid #a2c2e2;
  border-radius: 8px;
}

.page-select {
  max-width: 70px;
}

/* Table */
.table {
  width: 100%;
  margin-top: 10px;
  border-collapse: separate;
  border: 5px solid #a2c2e2;
  border-radius: 8px;
  table-layout: fixed;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.table thead th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}

.table th:nth-child(1), .table td:nth-child(1) {
  width: 40%;
}

.table th:nth-child(2), .table td:nth-child(2) {
  width: 25%;
}

.table th:nth-child(3), .table td:nth-child(3) {
  width: 20%;
}

.table th:nth-child(4), .table td:nth-child(4) {
  width: 15%;
}

td {
  word-wrap: break-word;
}

/* Other */
.mirror-horizontal {
  transform: scaleX(-1);
  display: inline-block;
}

.invisible {
  visibility: hidden;
}

.alert-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1055; /* Higher than Bootstrap's modal-backdrop (z-index: 1040) */
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}