<div class="container mt-5">
  <!--Alert-->
  <div *ngIf="alertMessage" class="alert alert-dismissible fade show alert-message"
    [ngClass]="{'alert-danger': isError, 'alert-info': !isError}" role="alert" (click)="alertMessage = null">
    {{ alertMessage }}
  </div>

  <div class="mt-3">
    <div class="row" [ngClass]="{'justify-content-center': !isAdmin}">

      <!-- Filter Input -->
      <div class="form-group col-sm-4">
        <label for="filterInput" class="ml-1"><strong>Keresés:</strong></label>
        <input type="text" id="filterInput" class="form-control form-control-sm filter-input"
          placeholder="Keresés termékkód, név vagy raktár alapján..." [(ngModel)]="filterText" (input)="applyFilters()">
      </div>

      <!-- Items per Page Select -->
      <div class="col-sm-4 mb-2">
        <label for="itemsPerPageSelect" class=""><strong>Elemek száma oldalanként:</strong></label>
        <select id="itemsPerPageSelect" class="form-select form-select-sm page-select" [(ngModel)]="itemsPerPage"
          (change)="updatePagination()">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>

    <!-- Items Display -->
    <div class="row" [ngClass]="{'justify-content-center': !isAdmin}">
      <div class="col-lg-8 col-12">

        <!-- Actions Top -->
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-grey btn-sm mr-2" data-bs-toggle="modal"
              data-bs-target="#addItemModal">Hozzáadás</button>
              <button type="button" class="btn btn-grey btn-sm mr-2" (click)="resetFilters()">Szűrők Törlése</button>
            <ng-container *ngIf="isAdmin">
              <button type="button" class="btn btn-grey btn-sm mr-2" [disabled]="selectedItemIds.length === 0"
                data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Törlés</button>
              <button type="button" class="btn btn-grey btn-sm mr-2" [disabled]="selectedItemIds.length === 0"
                data-bs-toggle="modal" data-bs-target="#updateModal">Áthelyezés</button>
            </ng-container>
          </div>
        </div>

        <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th (click)="orderBy('id')">
                Termékkód
                <i class="bi"
                  [ngClass]="currentSortColumn == 'id' ? (isAscending ? 'bi-arrow-down' : 'bi-arrow-up') : 'bi-arrow-down invisible'"></i>
              </th>
              <th (click)="orderBy('itemName')">
                <i class="bi bi-funnel-fill" data-bs-toggle="modal" data-bs-target="#nameFilterModal" (click)="$event.stopPropagation()"></i>
                Termék
                <i class="bi"
                  [ngClass]="currentSortColumn == 'itemName' ? (isAscending ? 'bi-arrow-down' : 'bi-arrow-up') : 'bi-arrow-down invisible'"></i>
              </th>
              <th (click)="orderBy('storagePlace')">
                <i class="bi bi-funnel-fill" data-bs-toggle="modal" data-bs-target="#storageFilterModal" (click)="$event.stopPropagation()"></i>
                Tároló
                <i class="bi"
                  [ngClass]="currentSortColumn == 'storagePlace' ? (isAscending ? 'bi-arrow-down' : 'bi-arrow-up') : 'bi-arrow-down invisible'"></i>
              </th>
              <ng-container *ngIf="isAdmin">
                <th>
                  <div class="form-check d-flex justify-content-center">
                    <input type="checkbox" class="form-check-input mr-2" (change)="toggleSelectAllItems()"
                      [checked]="selectedItemIds.length === paginatedItems.length" [(ngModel)]="selectAllChecked"/>
                    <label class="form-check-label ml-1"><i class="bi bi-arrow-90deg-down mirror-horizontal "></i></label>
                  </div>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of paginatedItems">
              <tr>
                <td>{{ item.productCode }}</td>
                <td>{{ getItemNameById(item.itemNameId) }}</td>
                <td>{{ getStoragePlaceById(item.storagePlaceId) }}</td>
                <ng-container *ngIf="isAdmin">
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" [value]="item.id"
                        (change)="toggleItemSelection($event, item.id)">
                      <label class="form-check-label"></label>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <!-- Actions Bottom -->
        <div class="row" *ngIf="itemsPerPage>=25">
          <div class="col">
            <button type="button" class="btn btn-grey btn-sm mr-2" data-bs-toggle="modal"
              data-bs-target="#addItemModal">Hozzáadás</button>
              <button type="button" class="btn btn-grey btn-sm mr-2" (click)="resetFilters()">Szűrők Törlése</button>
            <ng-container *ngIf="isAdmin">
              <button type="button" class="btn btn-grey btn-sm mr-2" [disabled]="selectedItemIds.length === 0"
                data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Törlés</button>
              <button type="button" class="btn btn-grey btn-sm mr-2" [disabled]="selectedItemIds.length === 0"
                data-bs-toggle="modal" data-bs-target="#updateModal">Áthelyezés</button>
            </ng-container>
          </div>
        </div>

        <!-- Downloads -->
        <div class="row mt-1" *ngIf="isAdmin">
          <div class="col">
            <button type="button" class="btn btn-grey btn-sm mr-2" data-bs-toggle="modal"
                data-bs-target="#downloadLogModal">Műveleti Napló Letöltése</button>
              <button type="button" class="btn btn-grey btn-sm" data-bs-toggle="modal"
                data-bs-target="#downloadTagModal">Címkék Letöltése</button>
          </div>
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
          <button class="btn btn-secondary btn-sm" (click)="previousPage()" [disabled]="currentPage == 1">
            <i class="bi bi-caret-left-fill"></i>
          </button>
          <span class="mr-3 ml-3">Oldal: {{ currentPage }} / {{ totalPages }}</span>
          <button class="btn btn-secondary btn-sm" (click)="nextPage()" [disabled]="currentPage == totalPages">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>

      <!-- Admin Section -->
      <div class="col-lg-4 col-12 admin-tasks" *ngIf="isAdmin">
        <div class="row">
      
          <!-- Storage Control Section -->
          <div class="col-12 storage-control mb-3">
            <h3 class="text-center">Tárolók</h3>
            <div class="input-group mb-2">
              <input [(ngModel)]="newStoragePlace" placeholder="Új Tároló Felvétele" class="form-control">
              <button class="btn btn-grey" (click)="createStoragePlace()" [disabled]="!newStoragePlace || newStoragePlace.trim() === ''">Hozzáadás</button>
            </div>
            <div class="scrollable-section">
              <div *ngFor="let storagePlace of storagePlaces" class="row my-1">
                <div class="input-group">
                  <input [(ngModel)]="storagePlace.storage" class="form-control" readonly>
                  <button class="btn btn-grey btn-sm" (click)="openTypeDeleteModal('storagePlace', storagePlace.id)"
                    data-bs-toggle="modal" data-bs-target="#deleteTypeConfirmationModal">Törlés</button>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Item Name Control Section -->
          <div class="col-12 item-name-control">
            <h3 class="text-center">Termékek</h3>
            <div class="input-group mb-2">
              <input [(ngModel)]="newItemName" placeholder="Új Termék Felvétele" class="form-control">
              <button class="btn btn-grey" (click)="createItemName()" [disabled]="!newItemName || newItemName.trim() === ''">Hozzáadás</button>
            </div>
            <div class="scrollable-section">
              <div *ngFor="let itemName of itemNames" class="row my-1">
                <div class="input-group">
                  <input [(ngModel)]="itemName.item" class="form-control" readonly>
                  <button class="btn btn-grey btn-sm" (click)="openTypeDeleteModal('itemName', itemName.id)"
                    data-bs-toggle="modal" data-bs-target="#deleteTypeConfirmationModal">Törlés</button>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalLabel">Új Termék Hozzáadása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newItem.itemNameId"><strong>Termék</strong></label>
          <select [(ngModel)]="newItem.itemNameId" class="form-control custom-select">
            <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="newItem.storagePlaceId"><strong>Tároló</strong></label>
          <select [(ngModel)]="newItem.storagePlaceId" class="form-control custom-select">
            <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="newItem.quantity"><strong>Mennyiség</strong></label>
          <input [(ngModel)]="newItem.quantity" type="number" class="form-control custom-input" min="1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="createItem()" data-bs-dismiss="modal" [disabled]="!newItem.itemNameId || !newItem.storagePlaceId || !newItem.quantity">Hozzáadás</button>
      </div>
    </div>
  </div>
</div>

  <!--Storage/Item Type Delete Confirmation Modal-->
<div class="modal fade" id="deleteTypeConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteTypeConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTypeConfirmationModalLabel">Megerősítés</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Biztosan törölni szeretné a kijelölt {{ deleteType === 'itemName' ? 'terméket' : 'tárolót' }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="confirmTypeDelete()"
          data-bs-dismiss="modal">Törlés</button>
      </div>
    </div>
  </div>
</div>


  <!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Megerősítés</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Biztosan törölni szeretné a kijelölt termékeket?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="deleteItem(selectedItemIds)"
          data-bs-dismiss="modal">Törlés</button>
      </div>
    </div>
  </div>
</div>

  <!-- Storage Place Filter Modal -->
<div class="modal fade" id="storageFilterModal" tabindex="-1" role="dialog" aria-labelledby="storageFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="storageFilterModalLabel">Tároló Szűrés</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="filterStoragePlace"><strong>Tárolók</strong></label>
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox" id="selectAllItems" (change)="toggleSelectAllStoragePlaces()"
              [checked]="selectedStoragePlaces.length === storagePlaces.length" />
            <label for="selectAllItems" class="ml-2 pt-2">Mindet kijelöl</label>
            <!-- <button type="button" class="btn btn-sm btn-grey" (click)="toggleSelectAllStoragePlaces()">
              Mindet kijelöl
            </button> -->
            <button type="button" class="btn btn-sm btn-grey ml-auto" (click)="deselectStoragePlaces()">
              Kijelölések törlése
            </button>
          </div>
          <div class="scrollable-list">
            <ul class="list-group">
              <li
                *ngFor="let storagePlace of storagePlaces"
                class="list-group-item"
                [class.selected]="selectedStoragePlaces.includes(storagePlace.id)"
                (click)="toggleSelectStoragePlace(storagePlace.id)"
              >
                {{ storagePlace.storage }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="applyFilters()"
          data-bs-dismiss="modal">Szűrés</button>
      </div>
    </div>
  </div>
</div>

  <!-- Item Name Filter Modal -->
<div class="modal fade" id="nameFilterModal" tabindex="-1" role="dialog" aria-labelledby="nameFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nameFilterModalLabel">Termék Szűrés</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="filterItemName"><strong>Termékek</strong></label>
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox" id="selectAllItems" (change)="toggleSelectAllItemNames()"
              [checked]="selectedItemNames.length === itemNames.length" />
            <label for="selectAllItems" class="ml-2 pt-2">Mindet kijelöl</label>
            <button type="button" class="btn btn-sm btn-grey ml-auto" (click)="deselectItemNames()">
              Kijelölések törlése
            </button>
          </div>
          <div class="scrollable-list">
            <ul class="list-group">
              <li
                *ngFor="let itemName of itemNames"
                class="list-group-item"
                [class.selected]="selectedItemNames.includes(itemName.id)"
                (click)="toggleSelectItemName(itemName.id)"
              >
                {{ itemName.item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="applyFilters()"
          data-bs-dismiss="modal">Szűrés</button>
      </div>
    </div>
  </div>
</div>

  <!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kijelölt termékek áthelyezése</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newStoragePlaceId"><strong>Új Tároló?</strong></label>
          <select [(ngModel)]="newStoragePlaceId" class="form-control custom-select">
            <ng-container *ngFor="let place of storagePlaces">
              <option [value]="place.id">{{ place.storage }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal"
          (click)="updateItem(selectedItemIds, newStoragePlaceId)">Áthelyezés</button>
      </div>
    </div>
  </div>
</div>



  <!-- Tag Download Modal -->
<div class="modal fade" id="downloadTagModal" tabindex="-1" role="dialog" aria-labelledby="downloadTagModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadTagModalLabel">Termékcímke Letöltése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="selectedItemIds.length==0">
          <span class="text-danger mb-4"><i class="bi bi-exclamation-circle-fill mr-1"></i><strong>Nincs kiválasztva termék! Az összes címke letöltésre fog kerülni!</strong></span>
        </ng-container>
        <div class="form-group">
          <label for="fileName"><strong>Fájl Név</strong></label>
          <input [(ngModel)]="fileName" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="downloadTags()" data-bs-dismiss="modal">Letöltés</button>
      </div>
    </div>
  </div>
</div>


  <!-- Log Download Modal -->
<div class="modal fade" id="downloadLogModal" tabindex="-1" role="dialog" aria-labelledby="downloadLogModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadLogModalLabel">Műveleti Napló Szűrők</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="filterItemNameId"><strong>Termék</strong></label>
          <select [(ngModel)]="logFilters.itemNameId" class="form-control custom-select">
            <option [value]="undefined">Összes</option>
            <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filterStoragePlaceId"><strong>Tároló</strong></label>
          <select [(ngModel)]="logFilters.storagePlaceId" class="form-control custom-select">
            <option [value]="undefined">Összes</option>
            <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filterCreatedBy"><strong>Felhasználó</strong></label>
          <select [(ngModel)]="logFilters.userId" class="form-control custom-select">
            <option [value]="undefined">Összes</option>
            <option *ngFor="let user of users" [value]="user.userId">{{ user.userEmail }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filterFromDate"><strong>Kezdő Dátum</strong></label>
          <input [(ngModel)]="logFilters.fromDate" type="date" class="form-control">
        </div>
        <div class="form-group">
          <label for="filterToDate"><strong>Záró Dátum</strong></label>
          <input [(ngModel)]="logFilters.toDate" type="date" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-grey" (click)="resetLogFilters()">Szűrők Törlése</button>
        <button type="button" class="btn btn-grey" (click)="downloadLogs()" data-bs-dismiss="modal">Letöltés</button>
      </div>
    </div>
  </div>
</div>