.container {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}


h2, h3, h4 {
  color: #333;
  font-weight: bold;
}



.btn-blue-dark {
  background-color: #004085;
  color: white;
  border: none;
}

.btn-blue-medium {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-blue-light {
  background-color: #cce5ff;
  color: #004085;
  border: none;
}

.btn-secondary {
  background-color: #000000;
  border-color: #000000;
}

.custom-select {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
}

.custom-input {
  width: 100%;
}

.form-check-input {
  border: 1px solid #333;
}

.crud-section {
  background-color: #f8f9fa;
  border: 5px solid #a2c2e2;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6, .col-lg-4 {
  padding: 15px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border: 5px solid #a2c2e2;
  border-radius: 8px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.table thead th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}

.alert-message{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1055; /* Higher than Bootstrap's modal-backdrop (z-index: 1040) */
  width: 50%; /* Adjust width as needed */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}