<div class="container mt-5">
  <h2 class="text-center mb-2">Termékek Kezelése</h2>
  <h4 class="text-left mb-2 ml-1">Válasszon Leltárhelyet!</h4>
  <div class="form-group">
    <select [(ngModel)]="selectedStoragePlace" class="form-control custom-select">
      <option *ngFor="let place of storagePlaces" [value]="place.id">{{ place.storage }}</option>
    </select>
  </div>

  <div *ngIf="selectedStoragePlace" class="crud-section mt-4 p-4">
    <h4 class="mb-3">Új Termék Hozzáadása</h4>
    <div class="form-group">
      <label for="newItem.itemNameId"><strong>Termék</strong></label>
      <select [(ngModel)]="newItem.itemNameId" class="form-control custom-select">
        <option *ngFor="let item of itemNames" [value]="item.id">{{ item.item }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="newItem.quantity"><strong>Mennyiség</strong></label>
      <input [(ngModel)]="newItem.quantity" type="number" class="form-control custom-input" min="0">
    </div>
    <button (click)="createItem()" class="btn btn-primary w-100">Hozzáadás</button>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="table-responsive" *ngIf="selectedStoragePlace">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>Termék Kód</th>
              <th>Termék</th>
              <ng-container *ngIf="isAdmin()">
                <th></th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of paginatedItems">
              <tr>
                <td>{{ item.productCode }}</td>
                <td>{{ getItemName(item.itemNameId) }}</td>
                <ng-container *ngIf="isAdmin()">
                  <td>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [value]="item.id"
                        (change)="toggleItemSelection($event, item.id)">
                      <label class="form-check-label"></label>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <ng-container *ngIf="isAdmin() && selectedStoragePlace">
          <div class="row align-items-center">
            <div class="col-lg ml-2">
              <button type="button" class="btn btn-success btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#downloadModal"  (click)="downloadLogs()">Műveleti Napló</button>
              <button type="button" class="btn btn-danger btn-sm mr-2" (click)="deleteItem(selectedItemIds, selectedStoragePlace)">Törlés</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="updateItem(selectedItemIds, selectedStoragePlace, newStoragePlaceId)">Áthelyezés</button>
            </div>
          
            <div class="col-sm text-right">
              <div class="form-check d-inline-flex align-items-center">
                <input
                  type="checkbox"
                  class="form-check-input"
                  (change)="toggleSelectAll($event)">
                <label class="form-check-label mr-2"><strong>Mindet kijelöl</strong></label>
              </div>
            </div>
          </div>
        </ng-container>
      
        <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
          <button 
            class="btn btn-secondary btn-sm" 
            (click)="previousPage()" 
            [disabled]="currentPage == 1">
            <i class="bi bi-caret-left-fill"></i>
          </button>
          <span class="mr-3 ml-3">Oldal: {{ currentPage }} / {{ totalPages }}</span>
          <button 
            class="btn btn-secondary btn-sm" 
            (click)="nextPage()" 
            [disabled]="currentPage == totalPages">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

