<div class="d-flex align-items-center justify-content-center vh-100">

  <div 
    *ngIf="alertMessage" 
    class="alert alert-dismissible fade show alert-message" 
    [ngClass]="{'alert-danger': isError, 'alert-info': !isError}" 
    role="alert"
  >
    {{ alertMessage }}
  </div>

    <div class="card p-4 shadow-sm" style="width: 350px">
      <div class="text-center">
        <h3 class="mt-2">Változtassa meg jelszavát!</h3>
      </div>
  
      <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
        <div class="form-group mt-3">
          <label for="newPassword">Új Jelszó</label>
          <div class="input-group">
            <input
            [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="newPassword"
              [(ngModel)]="newPassword"
              name="newPassword"
              required
              #newPasswordInput="ngModel"
              title="Kritériumok: legalább 8 karakter, 1 kisbetű, 1 nagybetű, 1 szám, 1 speciális karakter"
            />
          </div>
          <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" class="text-danger mt-1">
            Jelszó megadása kötelező.
        </div>
        </div>
  
        <div class="form-group mt-3">
          <label for="confirmPassword">Jelszó Újra</label>
          <div class="input-group">
            <input
            [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="confirmPassword"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              required
              #confirmPasswordInput="ngModel"
              title="Kritériumok: legalább 8 karakter, 1 kisbetű, 1 nagybetű, 1 szám, 1 speciális karakter"
            />
            <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="togglePasswordVisibility()"
                tabindex="-1"
              >
                <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
          </div>
          <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" class="text-danger mt-1">
            Jelszó megadása kötelező.
          </div>
        </div>
  
        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary w-100 mt-3">Elfogadás</button>
      </form>
    </div>
