  <div class="d-flex align-items-center justify-content-center vh-100">

    <div *ngIf="alertMessage" class="alert alert-dismissible fade show alert-message" 
      [ngClass]="{'alert-danger': isError, 'alert-info': !isError}" role="alert" (click)="alertMessage = null">
      {{ alertMessage }}
    </div>

    <div class="card p-4 shadow-sm" style="width: 350px">
      <div class="text-center">
        <img src="../../../assets/logo.png" alt="Logo" width="100" />
        <h3 class="mt-2">Bejelentkezés</h3>
      </div>
  
      <form (ngSubmit)="loginUser()" #loginForm="ngForm">
        <div class="form-group mt-3">
          <label for="userEmail">Email</label>
          <input
            type="email"
            id="userEmail"
            name="userEmail"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="userEmail"
            #userEmailInput="ngModel"
            required
          />
          <div *ngIf="userEmailInput.invalid && userEmailInput.touched" class="text-danger mt-1">
            Email megadása kötelező.  
          </div>
        </div>
  
        <div class="form-group mt-3">
          <label for="userPassword">Jelszó</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="userPassword"
              name="userPassword"
              class="form-control"
              placeholder="Jelszó"
              [(ngModel)]="userPassword"
              #userPasswordInput="ngModel"
              required
            />
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="togglePasswordVisibility()"
              tabindex="-1">
              <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </button>
          </div>
          <div *ngIf="userPasswordInput.invalid && userPasswordInput.touched" class="text-danger mt-1">
            Jelszó megadása kötelező.
          </div>
        </div>
  
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary w-100 mt-3">Bejelentkezés</button>
        <button type="button" class="btn btn-link w-100 mt-3" data-bs-toggle="modal" data-bs-target="#passwordChangeModal">Elfelejtett Jelszó</button>
      </form>
    </div>
    <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Írja be email címét!</h5>
          </div>
          <div class="modal-body">
            <input 
              type="email" 
              [(ngModel)]="userEmail" 
              placeholder="Email" 
              class="form-control"
            >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Mégse</button>
            <button 
              type="button" 
              class="btn btn-grey" 
              data-bs-dismiss="modal" 
              (click)="passwordChange()" 
              [disabled]="!userEmail || userEmail.trim() === ''">
              Küldés
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

